{% extends 'base.html' %}

{% block content %}


<div class="container">
    {% include 'navbar.html' %} 
    <br><br>
    
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for ad in ad_list %}
    <div class="col">
      <div class="card h-100">
        <img src="{{ad.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{ad.title}} </h5>
          <p class="card-text"> {{ad.description}} </p>
          <p class="card-text"> {{ad.price}} تومان </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">in {{ad.created|timesince}} ago</small>
          <small class="text-muted" style="margin-left: 230px;"> {{ad.city}} </small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>










{% endblock %}